extends layouts/main-layout.pug

block content
  main.main-content-center
    div.not-found-wrapper
      img(src="/img/404.png", alt="" style="width:500px; max-width:90%;")
      h1(style="text-align:center")  Page Not Found!